@model BookStore.WebApp.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<p><h1>Welcome!</h1></p>
<h4>Overview</h4>
<script type="text/javascript">

window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		title:{
			text: "Your Locations Sales"
		},
		data: [
		{
			type: "column",
				dataPoints: [@foreach (var pair in Model.LocationSales) {
                @:{ label: "@pair.Key" , y: @pair.Value },
                }]
		}
		],
        axisY: {
            prefix: "$"
		},
        theme: "dark2"
	});
	chart.render();
}
</script>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <p>
        <h5>
            @Html.DisplayNameFor(model => model.LocationWithMostSales)
        </h5>@Model.LocationWithMostSales
    </p>
<h5>Best Seller's List</h5>
<ol>
	@foreach (var book in Model.BestSellers) {
		<li><h6><img src="@book.ImageLink" class="book-cover-sm">&nbsp;@book.Title by @book.AuthorFullName</h6></li>
	}
</ol>