@model BookStore.WebApp.Models.ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your Shopping Cart</h1>
@if (Model.CartItems.ToList().Count == 0) {
    <div>
        <p>Your Cart is Empty!</p>
    </div>
}
else { 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <p>Order Total: @Html.DisplayFor(model=> model.CartTotal)</p>
</div>
<div>
    <button class="btn-primary" type="submit" asp-action="PlaceOrder">Place Order</button>
</div>
}